.home-container {
  background: rgb(216, 241, 255);
  background: -moz-linear-gradient(
    55deg,
    rgba(216, 241, 255, 1) 29%,
    rgba(149, 217, 255, 1) 78%
  );
  background: -webkit-linear-gradient(
    55deg,
    rgba(216, 241, 255, 1) 29%,
    rgba(149, 217, 255, 1) 78%
  );
  background: linear-gradient(
    55deg,
    rgba(216, 241, 255, 1) 29%,
    rgba(149, 217, 255, 1) 78%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d8f1ff",endColorstr="#95d9ff",GradientType=1);
}

.section-container {
  box-shadow: 0px 25px 50px 0px #3f6e9073;
}

.event-card {
  animation-name: fadeInRight;
  animation-duration: 1s;

  cursor: pointer;
}

.transition {
  transition: 0.3s ease !important;
}

.event-card:hover {
  filter: brightness(0.8);
  transform: scale(1.1) !important;
}
