* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
}

body {
  width: 100vw;
  height: 100vh;
  background: rgb(216, 241, 255);
  background: -moz-linear-gradient(
    55deg,
    rgba(216, 241, 255, 1) 29%,
    rgba(149, 217, 255, 1) 78%
  );
  background: -webkit-linear-gradient(
    55deg,
    rgba(216, 241, 255, 1) 29%,
    rgba(149, 217, 255, 1) 78%
  );
  background: linear-gradient(
    55deg,
    rgba(216, 241, 255, 1) 29%,
    rgba(149, 217, 255, 1) 78%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d8f1ff",endColorstr="#95d9ff",GradientType=1);
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}
